// COLORS
$colour-primary: #101d2c;
$colour-primary-transparent: #101d2cdb;
$colour-secondary: #e6b376;
$colour-secondary-auxiliary: #f3c48a;
$grey: #3f4954;
$grey-light: #686666da;
$grey-sombre: #333;
$whitish: #f0f0f0;
$default-grey: #eeeeee;
$steelblue: #1a2934;
$midnight: #104f55;
$shenandoah-blue: #002e62;
$shenandoah-red: #980630;
$css-blue-primary: #3c99dc;
$css-blue-secondary: #66d3fa;
$sass-pink-primary: #cd6799;
$sass-pink-secondary: #e293b9;
$javascript-yellow: #f0db4f;
$vue-green: #42d392;
$vue-purple: #647eff;
$react-blue: #61dbfb;
$typescript-blue: #235a97;
$webpack-blue: #1d78c1;
// END COLORS
